*,*::before,*::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  line-height: 1.3;
  height: 100dvh;
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgb(202,213,226);
}
.displayContainer > h1{
  color: black;
  font-weight: 500;
  text-align: center;
}
.displayContainer > h1 span, .displayContainer_pair > p span {
  font-weight: 800;
}
.displayContainer_pair{
  display: flex;
  gap: 2rem;
  margin-block: 1rem;
}
.displayContainer_pair > p{
  padding: .5em 1em;
  font-size: 1rem;
  border-radius: .8rem;
  color: white;
}
.displayContainer_pair > p:nth-child(1){
  background-color: rgb(16,91,52);
}
.displayContainer_pair > p:nth-child(2){
  background-color: rgb(254,86,65);
}
.btn-container{
  margin-bottom: 1rem;
}
button{
  border: none;
  padding: .8em 1em;
  border-radius: .8rem;
  display: block;
  margin-inline: auto;
  background-color: rgb(19, 19, 19);
  color: white;
  transition: ease 300ms;
  cursor: pointer;
}
button:hover{
  background-color: color-mix(in srgb,rgb(19, 19, 19) 90% , white 10%);
}

.formContainer{
  display: flex;
  flex-direction: column;
  padding-block: 1rem;
  gap: 1rem;
}
input, select{
  outline: none;
  border: none;
  font-size: 1rem;
  padding: .5em;
  border-radius: .5rem;
}
input:focus{
  outline: 1px solid color-mix(in srgb,rgb(19, 19, 19) 90% , white 10%);
}
.submitbtn, .notification{
  width: 100%;
}
.notification{
  padding: .8em 1em;
  border-radius: .8rem;
  display: flex;
  justify-content: space-between;
}
.notification + .notification{
  margin-top: .5rem;
}
.notification > p{
  font-size: 1rem;
  color: white;
}
